h1 {
    text-align:center;
}

.text_cell_render img{
    max-width:900px;
}

.output img{
    max-width:900px;
}

.output svg{
    max-width:900px;
}

div.cell{
    width:950px;
    margin-left:5% !important;
    margin-right:auto;
}

div.text_cell_render{
    line-height: 145%;
    font-size: 120%;
}

.CodeMirror{
    font-size:110%;
}

p{
    margin-bottom:10px;
}

div.cell.selected{
    border: 1px solid #ABABAB;
}

div.cell.edit_mode {
    border: 1px solid #008000;
}

div.input_prompt {
    display: None;
}

div.output_prompt {
    display: None;
}

div.out_prompt_overlay{
    display: None !important;
}

div.output_area div.prompt{
    display: None;
}

.cm-s-ipython{
    background-color:#ddffdd;
}

div.cell{
    padding:5px;
}

.navbar select, .navbar label {
    width: auto;
    height: 26px;
    vertical-align: middle;
    margin-bottom: 0px;
    display: inline;
    font-size: 92%;
    margin-left: 0.3em;
    margin-right: 0.3em;
    padding: 3px 0px 0px;
}

.toggle_arrow_down:before{
font-family:FontAwesome;
font-weight:normal;
font-style:normal;
text-decoration:inherit;
-webkit-font-smoothing:antialiased;
*margin-right:.3em;
content:"\f07d";
}

#ui_toggle {

}
/*
.navbar .nav > li > a {
padding-left:10px;
padding-right:10px;
}
*/